html,
body {
  background-color: white;
  color: black;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.SPcontainer {
  height: 100%;
}

.split-pane-resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  cursor: col-resize;
}

.split-pane-container {
  height: '100%';
}

.split-pane-content {
  height: '100%';
}

.custom-wrapper {
  width: 100%;
}

.split-pane-content2 {
  height: '100%';
}

.Resizer.vertical {
  width: 8px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer {
  background: #000;
  height: '100%';
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.full-width {
  width: 100%;
  grid-column: span 12;
}

/* FileUpload.css */
.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s;
}

.dropzone.dragging {
  border-color: #007bff;
}

.file-input {
  display: none;
}
